## Problem Statement

This project aims to understand the prevalence of standardized test taking to California high school students. Some questions I'd like to consider are 
* Which schools have the highest testing rates?
* Do schools where more students take standardized tests also score better on those tests?
* Do different tests (ACT, SAT, potentially AP) have different patterns?
* How did testing prevalence / scores change in California during COVID?

### Contents

## Background

**To-Do:**

### Datasets Used

**To-Do**

### Outside Research

**To-Do:**

### Cali - ACTs

In [1]:
# Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### View Dataset

In [2]:
act_ca = pd.read_csv('../data/act_2019_ca.csv')

In [3]:
act_ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CDS          2309 non-null   float64
 1   CCode        2309 non-null   float64
 2   CDCode       2309 non-null   float64
 3   SCode        1787 non-null   float64
 4   RType        2309 non-null   object
 5   SName        1729 non-null   object
 6   DName        2251 non-null   object
 7   CName        2309 non-null   object
 8   Enroll12     2309 non-null   float64
 9   NumTstTakr   2309 non-null   float64
 10  AvgScrRead   1953 non-null   object
 11  AvgScrEng    1953 non-null   object
 12  AvgScrMath   1953 non-null   object
 13  AvgScrSci    1953 non-null   object
 14  NumGE21      1953 non-null   object
 15  PctGE21      1953 non-null   object
 16  Year         2309 non-null   object
 17  Unnamed: 17  0 non-null      float64
dtypes: float64(7), object(11)
memory usage: 325.0+ KB

In [4]:
act_ca.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

#### Data Cleaning

In [5]:
act_ca.drop(columns='Unnamed: 17', inplace=True) # This column is all NA

In [6]:
act_ca['PctGE21'].value_counts()

*        532
50.00     22
33.33     10
0.00       9
55.56      9
        ...
6.56       1
8.00       1
80.81      1
24.53      1
57.58      1
Name: PctGE21, Length: 915, dtype: int64

#### Drop unused columns
For our analysis we won't use the codes, school/district/county names, or any of the 4 subject scores

In [69]:
act_ca.columns

Index(['CDS', 'CCode', 'CDCode', 'SCode', 'RType', 'SName', 'DName', 'CName',
       'Enroll12', 'NumTstTakr', 'AvgScrRead', 'AvgScrEng', 'AvgScrMath',
       'AvgScrSci', 'NumGE21', 'PctGE21', 'Year', 'ACT_taken_%',
       'ACT_high_score_%'],
      dtype='object')

In [70]:
code_cols = ['CDS', 'CCode', 'CDCode', 'SCode']
name_cols = ['SName', 'DName', 'CName']
subject_cols = ['AvgScrRead', 'AvgScrEng', 'AvgScrMath', 'AvgScrSci']
dropped_cols = code_cols + name_cols + subject_cols
act_ca.drop(columns=dropped_cols, inplace = True)

#### Exclude schools with very low sample size

In [65]:
act_ca = act_ca[act_ca['PctGE21'] != '*']

In [66]:
act_ca.loc[act_ca['NumGE21'].isna(), ['NumGE21']] = 0 # NaN means no students took test

##### Should we drop rows with no students taking test?
These are wanted for particpation metrics but not wanted for performance metrics

In [54]:
act_ca['PctGE21'].isna().sum()
act_ca['PctGE21'].value_counts(dropna = False)

NaN      356
50.00     22
33.33     10
55.56      9
0.00       9
        ...
6.56       1
8.00       1
80.81      1
24.53      1
57.58      1
Name: PctGE21, Length: 915, dtype: int64

In [55]:
act_ca['RType'].value_counts()

S    1308
D     413
C      55
X       1
Name: RType, dtype: int64

In [62]:
act_ca[['RType', 'PctGE21']].groupby('RType').count()

       PctGE21
RType
C           54
D          350
S         1016
X            1

#### Fix data types

In [71]:
act_ca.dtypes

RType                object
Enroll12              int32
NumTstTakr            int32
NumGE21               int32
PctGE21              object
Year                 object
ACT_taken_%         float64
ACT_high_score_%    float64
dtype: object

* Make Enroll12 and NumTstTakr ints
* Make NumGE21 int
* Make PctGE21 a float

In [23]:
act_ca[act_ca['Enroll12'].isna()]

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year
2309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [24]:
act_ca.drop(index=2309, inplace = True)

In [28]:
act_ca['Enroll12'].astype(int)

0        18
1        58
2        18
3       463
4       226
       ...
2302    138
2303    394
2305    102
2306    628
2308     47
Name: Enroll12, Length: 1777, dtype: int32

In [30]:
act_ca['NumTstTakr'].astype(int)

0        0
1        0
2        0
3       53
4       19
        ..
2302    38
2303    56
2305     0
2306    61
2308     0
Name: NumTstTakr, Length: 1777, dtype: int32

In [31]:
act_ca['Enroll12'] = act_ca['Enroll12'].astype(int)
act_ca['NumTstTakr'] = act_ca['NumTstTakr'].astype(int)

In [74]:
act_ca['NumGE21'] = act_ca['NumGE21'].astype(int)
act_ca['PctGE21'] = act_ca['PctGE21'].astype(float)

### Features to measure test performance and participation
Since our goal is to track test performance and particpation we need a metric for each of these.
For our purposes, we can measure the as follows: 
* perfomance by the percentage of test takers with a composite score above 21
* participation by the percentage of enrollees who take the test

In [77]:
act_ca['ACT_taken_%'] = 100*act_ca['NumTstTakr']/act_ca['Enroll12']
act_ca['ACT_high_score_%'] = 100*act_ca['NumGE21']/act_ca['NumTstTakr'] # <-- This is redundant with PctGE21

#### Select Data for Later Analysis

In [76]:
act_ca.drop(columns = ['Enroll12', 'NumTstTakr', 'NumGE21', 'Year'])

,RType,Enroll12,NumTstTakr,NumGE21,PctGE21,Year,ACT_taken_%,ACT_high_score_%
0,S,18,0,0,NaN,2018-19,0.000000,NaN
1,S,58,0,0,NaN,2018-19,0.000000,NaN
2,S,18,0,0,NaN,2018-19,0.000000,NaN
3,S,463,53,34,64.15,2018-19,11.447084,64.150943
4,S,226,19,11,57.89,2018-19,8.407080,57.894737
...,...,...,...,...,...,...,...,...
2302,S,138,38,20,52.63,2018-19,27.536232,52.631579
2303,S,394,56,35,62.50,2018-19,14.213198,62.500000
2305,S,102,0,0,NaN,2018-19,0.000000,NaN
2306,S,628,61,40,65.57,2018-19,9.713376,65.573770
2308,S,47,0,0,NaN,2018-19,0.000000,NaN

In [20]:
act_ca.loc[act_ca['RType'] == 'S', ['Enroll12', 'NumGE21']]

      Enroll12 NumGE21
0         18.0       0
1         58.0       0
2         18.0       0
3        463.0      34
4        226.0      11
...        ...     ...
2302     138.0      20
2303     394.0      35
2305     102.0       0
2306     628.0      40
2308      47.0       0

[1308 rows x 2 columns]

In [21]:
act_schools = set(act_ca['SCode'].dropna())
len(act_schools)

1309

In [32]:
act_ca['RType'].value_counts()

S    1308
D     413
C      55
X       1
Name: RType, dtype: int64

### Cali SATs

#### View Dataset

In [22]:
sat_ca = pd.read_csv('../data/sat_2019_ca.csv')

In [23]:
sat_ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CDS                    2579 non-null   float64
 1   CCode                  2579 non-null   float64
 2   CDCode                 2579 non-null   float64
 3   SCode                  2579 non-null   float64
 4   RType                  2579 non-null   object
 5   SName                  1982 non-null   object
 6   DName                  2521 non-null   object
 7   CName                  2579 non-null   object
 8   Enroll12               2579 non-null   float64
 9   NumTSTTakr12           2579 non-null   float64
 10  NumERWBenchmark12      2304 non-null   object
 11  PctERWBenchmark12      2304 non-null   object
 12  NumMathBenchmark12     2304 non-null   object
 13  PctMathBenchmark12     2304 non-null   object
 14  Enroll11               2579 non-null   float64
 15  NumTSTTakr11           2579 non-null   float64
 16  NumERWBenchmark11      2269 non-null   object
 17  PctERWBenchmark11      2269 non-null   object
 18  NumMathBenchmark11     2269 non-null   object
 19  PctMathBenchmark11     2269 non-null   object
 20  TotNumBothBenchmark12  2304 non-null   object
 21  PctBothBenchmark12     2304 non-null   object
 22  TotNumBothBenchmark11  2269 non-null   object
 23  PctBothBenchmark11     2269 non-null   object
 24  Year                   2579 non-null   object
 25  Unnamed: 25            0 non-null      float64
dtypes: float64(9), object(17)
memory usage: 524.2+ KB

In [24]:
sat_ca.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

#### Clean Data

In [25]:
sat_ca.drop(columns='Unnamed: 25', inplace=True)

In [26]:
sat_ca.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,6.0,*,*,*,*,*,*,*,*,2018-19
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,174.0,42,24.14,12,6.90,14,13.73,11,6.32,2018-19
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,275.0,97,35.27,37,13.45,18,15.93,35,12.73,2018-19
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,5.0,*,*,*,*,*,*,*,*,2018-19

In [27]:
sat_ca[sat_ca['TotNumBothBenchmark12'].isna()]

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
12,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
19,1.062117e+13,10.0,1062117.0,1030469.0,S,Enterprise Alternative,Clovis Unified,Fresno,18.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
36,3.768163e+13,37.0,3768163.0,137109.0,S,Diego Valley East Public Charter,Julian Union Elementary,San Diego,78.0,0.0,...,1.0,*,*,*,*,NaN,NaN,*,*,2018-19
43,3.467314e+13,34.0,3467314.0,3430352.0,S,Las Flores High (Alternative),Elk Grove Unified,Sacramento,64.0,0.0,...,1.0,*,*,*,*,NaN,NaN,*,*,2018-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540,4.110413e+13,41.0,4110413.0,0.0,D,NaN,San Mateo County Office of Education,San Mateo,97.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2561,1.976992e+13,19.0,1976992.0,0.0,D,NaN,SBE - Prepa Tec Los Angeles High,Los Angeles,0.0,0.0,...,47.0,17,36.17,4,8.51,NaN,NaN,4,8.51,2018-19
2572,5.071092e+13,50.0,5071092.0,0.0,D,NaN,Hart-Ransom Union Elementary,Stanislaus,18.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2573,5.071134e+13,50.0,5071134.0,0.0,D,NaN,Keyes Union,Stanislaus,25.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
sat_ca.loc[:,['NumERWBenchmark12', 'NumERWBenchmark11', 
            'NumMathBenchmark12', 'NumMathBenchmark11', 
            'TotNumBothBenchmark12', 'TotNumBothBenchmark11']].fillna(0, inplace = True)

In [29]:
sat_schools = set(sat_ca['SCode'].dropna())
sat_schools

{0.0,
 1933316.0,
 114694.0,
 1335306.0,
 1933324.0,
 1237007.0,
 106518.0,
 4530200.0,
 532507.0,
 114736.0,
 131128.0,
 1933381.0,
 4333639.0,
 106567.0,
 1531987.0,
 1933399.0,
 3334232.0,
 114777.0,
 4530267.0,
 5636188.0,
 4030557.0,
 131169.0,
 131177.0,
 131185.0,
 5030010.0,
 3432572.0,
 2130045.0,
 6119556.0,
 4530309.0,
 1933449.0,
 6111371.0,
 6119564.0,
 3932308.0,
 3334299.0,
 4530333.0,
 2130078.0,
 114850.0,
 3236007.0,
 131250.0,
 114868.0,
 3735750.0,
 1933530.0,
 106716.0,
 3834082.0,
 4333795.0,
 106732.0,
 6119671.0,
 5030135.0,
 123133.0,
 123141.0,
 3334406.0,
 106765.0,
 5030168.0,
 1933597.0,
 131359.0,
 5030176.0,
 4030755.0,
 1737006.0,
 114991.0,
 2335024.0,
 106799.0,
 5431598.0,
 123190.0,
 131383.0,
 5030200.0,
 3735867.0,
 1032507.0,
 5431614.0,
 4137279.0,
 1933647.0,
 106831.0,
 3637584.0,
 5030226.0,
 115030.0,
 123224.0,
 5030234.0,
 106849.0,
 106864.0,
 5030259.0,
 123257.0,
 2630010.0,
 5030267.0,
 4333951.0,
 1532290.0,
 3432838.0,
 5030283.0,
 115089.0,
 106906.0,
 5235106.0,
 3735974.0,
 4735403.0,
 5030317.0,
 1933746.0,
 5530043.0,
 4235727.0,
 4432340.0,
 123349.0,
 631259.0,
 5530076.0,
 123356.0,
 6037980.0,
 115170.0,
 1933795.0,
 5530084.0,
 3932654.0,
 131573.0,
 106997.0,
 107003.0,
 107011.0,
 6119945.0,
 115212.0,
 737809.0,
 107029.0,
 1933852.0,
 4334116.0,
 115238.0,
 107052.0,
 115253.0,
 4137535.0,
 2433605.0,
 107078.0,
 107086.0,
 1933902.0,
 5530191.0,
 107094.0,
 1335900.0,
 107102.0,
 107110.0,
 131698.0,
 434803.0,
 4530804.0,
 1933951.0,
 107136.0,
 107151.0,
 3031697.0,
 934554.0,
 3130010.0,
 107177.0,
 3130036.0,
 115386.0,
 1532605.0,
 115402.0,
 1032911.0,
 1934033.0,
 107219.0,
 6120158.0,
 123620.0,
 2032357.0,
 1630953.0,
 131821.0,
 5735154.0,
 3638012.0,
 4236030.0,
 2335487.0,
 3433216.0,
 1934082.0,
 3130119.0,
 107284.0,
 4334371.0,
 107300.0,
 3130150.0,
 3031853.0,
 3433265.0,
 4531000.0,
 3130168.0,
 4137790.0,
 3130176.0,
 3130184.0,
 1934157.0,
 4334421.0,
 3031895.0,
 3130200.0,
 123737.0,
 115550.0,
 123745.0,
 131938.0,
 3031929.0,
 4334462.0,
 4334470.0,
 3031945.0,
 123786.0,
 131979.0,
 5637004.0,
 3031952.0,
 3834769.0,
 123794.0,
 131987.0,
 3130259.0,
 1934231.0,
 123802.0,
 131995.0,
 6120356.0,
 1934249.0,
 132019.0,
 132027.0,
 730044.0,
 3032000.0,
 3630019.0,
 730051.0,
 3130309.0,
 3138500.0,
 4932554.0,
 3630035.0,
 115667.0,
 3335130.0,
 107482.0,
 5030879.0,
 132084.0,
 107516.0,
 115709.0,
 6112254.0,
 3433471.0,
 132100.0,
 107524.0,
 115725.0,
 3630100.0,
 132126.0,
 1934371.0,
 132134.0,
 3032109.0,
 132142.0,
 4236345.0,
 4138053.0,
 132167.0,
 730184.0,
 3630159.0,
 1934421.0,
 5137500.0,
 3032158.0,
 5432414.0,
 730218.0,
 1934454.0,
 132225.0,
 6112387.0,
 1934470.0,
 4334728.0,
 132233.0,
 6120588.0,
 3630225.0,
 2835601.0,
 730259.0,
 3630233.0,
 2434207.0,
 730283.0,
 132274.0,
 730291.0,
 132282.0,
 1230010.0,
 3630274.0,
 107722.0,
 730317.0,
 107730.0,
 730325.0,
 1033430.0,
 1934553.0,
 124131.0,
 132324.0,
 3630308.0,
 107755.0,
 3638509.0,
 730358.0,
 1230085.0,
 1934611.0,
 107797.0,
 1434901.0,
 3630365.0,
 115998.0,
 3630373.0,
 4334900.0,
 730424.0,
 3630399.0,
 3433794.0,
 1230150.0,
 3630407.0,
 6112585.0,
 1934678.0,
 3630423.0,
 3638616.0,
 730457.0,
 124248.0,
 124255.0,
 730465.0,
 124263.0,
 730473.0,
 132472.0,
 1934728.0,
 2131340.0,
 107920.0,
 3630480.0,
 132498.0,
 435602.0,
 1533330.0,
 132506.0,
 4130217.0,
 730549.0,
 3032505.0,
 3630522.0,
 124347.0,
 6120893.0,
 3630530.0,
 132548.0,
 124362.0,
 132555.0,
 730572.0,
 1934801.0,
 124370.0,
 5432786.0,
 5031380.0,
 3630555.0,
 132571.0,
 1033695.0,
 3630563.0,
 124388.0,
 730598.0,
 3630571.0,
 124396.0,
 124404.0,
 5432828.0,
 124412.0,
 3630597.0,
 4032009.0,
 1934868.0,
 132647.0,
 108076.0,
 132654.0,
 108084.0,
 108092.0,
 124479.0,
 124487.0,
 1132109.0,
 1934926.0,
 3335759.0,
 124495.0,
 3630670.0,
 124503.0,
 124511.0,
 132704.0,
 5031521.0,
 1533538.0,
 4335204.0,
 3933801.0,
 124529.0,
 116343.0,
 108159.0,
 124552.0,
 132746.0,
 124560.0,
 116368.0,
 116376.0,
 132761.0,
 3630746.0,
 108191.0,
 116384.0,
 116392.0,
 4130472.0,
 3630761.0,
 3032752.0,
 116400.0,
 3630779.0,
 4531901.0,
 5637822.0,
 108225.0,
 124610.0,
 3630787.0,
 6112965.0,
 1935048.0,
 116434.0,
 3630803.0,
 3630811.0,
 1033950.0,
 100065.0,
 116459.0,
 730861.0,
 100081.0,
 124669.0,
 3933959.0,
 1935121.0,
 116509.0,
 3335973.0,
 3737384.0,
 3630894.0,
 132910.0,
 3630902.0,
 124727.0,
 132928.0,
 4335428.0,
 132936.0,
 3737418.0,
 5130059.0,
 108365.0,
 3630928.0,
 5130075.0,
 100198.0,
 132969.0,
 116590.0,
 3032943.0,
 1230705.0,
 132977.0,
 108407.0,
 5031802.0,
 108415.0,
 3434370.0,
 5130125.0,
 5433230.0,
 1935246.0,
 3630993.0,
 133009.0,
 1533843.0,
 100255.0,
 116640.0,
 3631009.0,
 124834.0,
 3631017.0,
 4130738.0,
 1632207.0,
 100305.0,
 3631058.0,
 124883.0,
 3631066.0,
 124891.0,
 3033057.0,
 133090.0,
 116707.0,
 1034214.0,
 4835302.0,
 3631082.0,
 3631090.0,
 116723.0,
 124917.0,
 731125.0,
 1935352.0,
 133116.0,
 100354.0,
 133124.0,
 124933.0,
 6113286.0,
 108555.0,
 124941.0,
 3033115.0,
 3737632.0,
 3336237.0,
 2730034.0,
 3631157.0,
 124990.0,
 1935428.0,
 100420.0,
 1935436.0,
 125021.0,
 3631199.0,
 3631207.0,
 5630066.0,
 3033206.0,
 2730109.0,
 108670.0,
 2435204.0,
 3434636.0,
 2730125.0,
 108688.0,
 2730133.0,
 133272.0,
 116889.0,
 5630108.0,
 1935519.0,
 116897.0,
 5630116.0,
 4335782.0,
 100529.0,
 133298.0,
 4130993.0,
 5630132.0,
 2730166.0,
 133306.0,
 2730174.0,
 1534155.0,
 2730190.0,
 1935568.0,
 108753.0,
 3631322.0,
 125153.0,
 4737250.0,
 125161.0,
 108787.0,
 731380.0,
 5630199.0,
 2730232.0,
 100602.0,
 108795.0,
 2730240.0,
 1935618.0,
 1337609.0,
 3434768.0,
 117010.0,
 3033362.0,
 133397.0,
 133405.0,
 4335907.0,
 108837.0,
 3131687.0,
 3434792.0,
 5630249.0,
 2132264.0,
 3336492.0,
 5630256.0,
 3737905.0,
 2132272.0,
 1132851.0,
 125237.0,
 117051.0,
 330050.0,
 100677.0,
 117069.0,
 108878.0,
 4335949.0,
 117077.0,
 5630298.0,
 100701.0,
 108894.0,
 3737962.0,
 936302.0,
 5630322.0,
 125310.0,
 108928.0,
 3230083.0,
 108936.0,
 5630348.0,
 1935758.0,
 100750.0,
 108944.0,
 125328.0,
 108951.0,
 5630363.0,
 5630371.0,
 100776.0,
 2730414.0,
 117168.0,
 5630389.0,
 1935808.0,
 100800.0,
 5835202.0,
 125377.0,
 3131851.0,
 109009.0,
 5237201.0,
 125401.0,
 117218.0,
 133603.0,
 3631587.0,
 3033578.0,
 125419.0,
 117234.0,
 125427.0,
 1935865.0,
 133629.0,
 731646.0,
 4336137.0,
 4934154.0,
 125450.0,
 3033610.0,
 4532750.0,
 1935899.0,
 3934759.0,
 1436203.0,
 1935923.0,
 109108.0,
 5139001.0,
 125500.0,
 3934783.0,
 3730017.0,
 2132587.0,
 830059.0,
 2837102.0,
 3730033.0,
 3738226.0,
 3738234.0,
 1935998.0,
 3730058.0,
 3730066.0,
 3631769.0,
 3730074.0,
 133793.0,
 4836003.0,
 1936046.0,
 125617.0,
 3033784.0,
 731836.0,
 117440.0,
 125633.0,
 133835.0,
 2935500.0,
 3730124.0,
 5032651.0,
 6114011.0,
 1936103.0,
 125674.0,
 133868.0,
 1034990.0,
 3336955.0,
 3730173.0,
 5434113.0,
 3730181.0,
 109322.0,
 133900.0,
 125716.0,
 1936160.0,
 125732.0,
 101162.0,
 133934.0,
 101170.0,
 3730231.0,
 1534775.0,
 3033917.0,
 125765.0,
 133959.0,
 5630793.0,
 101196.0,
 3033933.0,
 117598.0,
 133983.0,
 1936228.0,
 117606.0,
 117622.0,
 3935103.0,
 2730885.0,
 109447.0,
 3730314.0,
 109454.0,
 1936277.0,
 109462.0,
 125849.0,
 3435419.0,
 125864.0,
 3337128.0,
 3337136.0,
 3730371.0,
 109512.0,
 101329.0,
 1330133.0,
 117721.0,
 1936350.0,
 109538.0,
 125922.0,
 134114.0,
 3730405.0,
 1534957.0,
 117747.0,
 330753.0,
 117762.0,
 732164.0,
 3730447.0,
 134163.0,
 1936418.0,
 3132453.0,
 125989.0,
 117804.0,
 1035310.0,
 126003.0,
 134197.0,
 2133056.0,
 134213.0,
 3632205.0,
 3738705.0,
 1936467.0,
 126037.0,
 1936475.0,
 3034204.0,
 3632221.0,
 134239.0,
 101477.0,
 437350.0,
 134247.0,
 2731115.0,
 126060.0,
 134254.0,
 1535087.0,
 134270.0,
 1133701.0,
 126094.0,
 117911.0,
 5434527.0,
 134304.0,
 134312.0,
 134320.0,
 109751.0,
 126136.0,
 101576.0,
 134346.0,
 109793.0,
 117994.0,
 134379.0,
 1936624.0,
 118018.0,
 3730694.0,
 126219.0,
 2133262.0,
 3730702.0,
 109843.0,
 109850.0,
 101659.0,
 134429.0,
 126243.0,
 3730728.0,
 3034410.0,
 101675.0,
 2633006.0,
 101683.0,
 134452.0,
 437558.0,
 1035575.0,
 4230454.0,
 118075.0,
 3730751.0,
 109900.0,
 1232206.0,
 126292.0,
 101717.0,
 126300.0,
 101725.0,
 4533600.0,
 109926.0,
 3730793.0,
 1936749.0,
 3730801.0,
 1936756.0,
 3632502.0,
 109942.0,
 118141.0,
 3730819.0,
 1936772.0,
 134536.0,
 3739018.0,
 6114698.0,
 3739026.0,
 3435930.0,
 3730843.0,
 118174.0,
 1535392.0,
 1936806.0,
 109991.0,
 1838507.0,
 3337649.0,
 134577.0,
 1936822.0,
 110007.0,
 3337656.0,
 134585.0,
 2330041.0,
 4230587.0,
 6114748.0,
 3730884.0,
 101832.0,
 118224.0,
 134619.0,
 4935151.0,
 110064.0,
 3730934.0,
 101881.0,
 1936889.0,
 3730942.0,
 126474.0,
 101899.0,
 3935756.0,
 134668.0,
 3730959.0,
 126482.0,
 101907.0,
 3730967.0,
 126490.0,
 3730975.0,
 101923.0,
 118315.0,
 126508.0,
 4337200.0,
 118323.0,
 126516.0,
 1936947.0,
 5434931.0,
 1035831.0,
 126524.0,
 3731007.0,
 126532.0,
 101956.0,
 126540.0,
 101964.0,
 3731023.0,
 101972.0,
 126557.0,
 2330207.0,
 3632742.0,
 118380.0,
 110189.0,
 126573.0,
 3731064.0,
 4935292.0,
 110205.0,
 3731072.0,
 5631619.0,
 1937028.0,
 102038.0,
 126615.0,
 1937051.0,
 118430.0,
 126623.0,
 3632809.0,
 3731114.0,
 134841.0,
 2133692.0,
 1937085.0,
 102079.0,
 2830016.0,
 4738753.0,
 4132551.0,
 134858.0,
 1732304.0,
 134866.0,
 3731155.0,
 102103.0,
 3731163.0,
 110304.0,
 118497.0,
 134890.0,
 4632303.0,
 3731189.0,
 1937143.0,
 118521.0,
 102137.0,
 2330363.0,
 5631742.0,
 126722.0,
 134924.0,
 732941.0,
 3731213.0,
 3731221.0,
 1937176.0,
 126748.0,
 102178.0,
 126755.0,
 2830115.0,
 3731239.0,
 102186.0,
 126763.0,
 2330413.0,
 3731247.0,
 5730098.0,
 1036086.0,
 4935482.0,
 118588.0,
 6115133.0,
 3731262.0,
 1036094.0,
 134981.0,
 1937226.0,
 3034956.0,
 937805.0,
 2330454.0,
 102236.0,
 3731304.0,
 3633005.0,
 6016885.0,
 3034998.0,
 118653.0,
 634758.0,
 102285.0,
 102293.0,
 110494.0,
 1535905.0,
 3035045.0,
 135087.0,
 4935607.0,
 135095.0,
 2035640.0,
 135103.0,
 3731395.0,
 135111.0,
 4132817.0,
 3330008.0,
 3035102.0,
 102368.0,
 3330024.0,
 135145.0,
 2535409.0,
 2134005.0,
 102392.0,
 2035707.0,
 110593.0,
 5738505.0,
 118794.0,
 430090.0,
 1232909.0,
 1937424.0,
 5435409.0,
 3330065.0,
 6058002.0,
 118802.0,
 5632021.0,
 3731478.0,
 102434.0,
 110627.0,
 4231205.0,
 3731502.0,
 102459.0,
 3330115.0,
 118851.0,
 733253.0,
 3731528.0,
 1937481.0,
 5435466.0,
 102475.0,
 135244.0,
 110668.0,
 3731536.0,
 3330131.0,
 1634401.0,
 4337762.0,
 118885.0,
 127084.0,
 430199.0,
 127100.0,
 3330172.0,
 4739207.0,
 1536135.0,
 118919.0,
 2732170.0,
 102541.0,
 3731601.0,
 3633302.0,
 135319.0,
 118935.0,
 1937564.0,
 118950.0,
 3330214.0,
 110759.0,
 3436714.0,
 3731627.0,
 3633351.0,
 1331404.0,
 4133070.0,
 1937622.0,
 127191.0,
 119016.0,
 127209.0,
 3731692.0,
 4337903.0,
 110833.0,
 127217.0,
 4034807.0,
 119040.0,
 3232006.0,
 127241.0,
 3830031.0,
 3035409.0,
 6066450.0,
 2330900.0,
 930073.0,
 930081.0,
 119073.0,
 1937697.0,
 2134310.0,
 3830064.0,
 3330354.0,
 5738802.0,
 3330362.0,
 5337407.0,
 3330370.0,
 930123.0,
 119115.0,
 1937739.0,
 5337423.0,
 3330388.0,
 127316.0,
 1937754.0,
 119131.0,
 3330396.0,
 3731809.0,
 102764.0,
 3330412.0,
 5337456.0,
 635250.0,
 930164.0,
 4731253.0,
 110965.0,
 1036672.0,
 3330438.0,
 127373.0,
 3330446.0,
 2134419.0,
 127381.0,
 110999.0,
 135590.0,
 930214.0,
 4837803.0,
 102830.0,
 1937838.0,
 3330479.0,
 119214.0,
 3436979.0,
 3830197.0,
 119222.0,
 3330487.0,
 1536440.0,
 3035581.0,
 ...}

In [30]:
sat_ca.loc[sat_ca['RType'] == 'S', ['Enroll12', 'TotNumBothBenchmark12']]

      Enroll12 TotNumBothBenchmark12
0         18.0                   NaN
1         29.0                     *
2        206.0                    14
3        227.0                    18
4         18.0                     *
...        ...                   ...
1976      76.0                     6
1977      15.0                     *
1978      27.0                     *
1979    1083.0                   293
1980     150.0                    23

[1981 rows x 2 columns]

### Compare schools

In [31]:
schools = act_schools & sat_schools
act_only_schools = act_schools - sat_schools
sat_only_schools = sat_schools - act_schools
print(len(schools))
print(len(act_only_schools))
print(len(sat_only_schools))

1306
3
676